@import url('https://rsms.me/inter/inter.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../public/fonts/duotone.css';
@import '../public/fonts/outline.css';
@import '../public/fonts/solid.css';

@layer base {
  html {
    font-family: 'Inter var', sans-serif;
  }
  
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

.text-services-people {
  color: #eb1034;
}
.text-services-companies {
  color: #1e90ff;
}
.text-services-vehicles {
  color: #32cd32;
}
.text-services-phones {
  color: #ffa500;
}
.text-services-banks {
  color: #8a2be2;
}
.text-services-identity {
  color: #ff1493;
}
.text-services-osint {
  color: #20b2aa;
}


@layer components {
  .btn-primary {
    @apply bg-primary text-white px-4 py-2 rounded-lg hover:bg-primary-dark transition-colors duration-200 font-medium;
  }
  
  .btn-secondary {
    @apply bg-secondary text-white px-4 py-2 rounded-lg hover:bg-secondary-dark transition-colors duration-200 font-medium;
  }
  
  .card {
    @apply bg-white rounded-xl shadow-sm border border-gray-200 p-6;
  }
  
  .input-field {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-primary focus:border-transparent transition-all duration-200;
  }
}